
:root {
    --color-main: #222;
   --color-second: #666;
   --color-background-main:  #fff;
   --color-background-second: #c5c5c5;
   --color-distinct: #F47E00; 
  }
  
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
  
  * {
      margin: 0;
      padding: 0;
  }
  
  html {
   box-sizing: border-box;
   font-size: 62.5%;
  }
  
  body {
   margin: 0;
   padding: 0;
   color: var(--color-main);
   background-color: var(--color-background);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 2rem;
   text-shadow: 0, 2px, 0 rgba(0,0,0, .07);
   -webkit-overflow-scrolling: touch;   
   overflow-y: scroll; 
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   font-weight: bold;
   text-align: center;
  }
  
  p {
   line-height: 1.45;
   margin-bottom: 3.5rem;
   text-align: center; 
   font-weight: 300;
   font-size: 1.8rem;
  }
  
  p:last-of-type {
    margin-bottom: 0;
  }
  
  small {
  font-size: 1.5rem;
  }
  
  a {
   margin: 0;
   font-weight: 300;
   color: var(--color-main);
  }
  
  a:hover,
  a:focus {
   color: orange;
  }
  
  li {
   list-style-type: none;
  }
  
  img {
  vertical-align: middle;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  }
  
  .btn {
    background-color: var(--color-distinct);
    color: var(--color-main);
    padding: .6rem 1.2rem;
    text-decoration: none;
    margin-top: 30px;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 50px;
  }

  /* Navigation */
  .main-nav ul {
      display: grid;
      grid-gap: 20px;
      padding: 0;
      list-style-type: 0;
      grid-template-columns: repeat(4, 1fr);
  }

  .main-nav a {
      background-color: var(--color-distinct);
      color: var(--color-main);
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      padding: 1.2rem;
      font-size: 1.5rem;
      display: block;
  }

  .main-nav a:hover,
  .main-nav a:focus {
      background-color: var(--color-background-second);
      font-weight: bold;
  }

  /* Above the Fold */
  .abovefold {
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
      "hero hero top-box-a"
      "hero hero top-box-b";
  }

  .hero {
      grid-area: hero;
      min-height: 400px;
      background: url("https://source.unsplash.com/random/800x800");
      background-size: cover;
      background-position: center;
      padding: 5rem;    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--color-background-main);
  }

  .top-box {
      background-color: var(--color-background-second);
      display: grid;
      justify-items: center;
      align-items: center;
  }

  .top-box-a {
      grid-area: top-box-a;
  }

  .top-box-b {
      grid-area: top-box-b;
  }

  /* boxes  */

  .boxes {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .box {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }